.wp {
  display: flex;
  flex-direction: column;
}
/* ----------------------- HEADER ---------------------------- */
.wp .header {
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(to top, #2c003e, #670028);
  padding: 0px 10%;
}
.wp .header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  /* border: 1px solid white; */
}
.wp .header .nav .logo p {
  color: white;
  font-weight: bold;
  font-size: 32px;
}
.wp .header .nav .menu {
  display: flex;
  gap: 20px;
}
.wp .header .nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 10px;
}
.wp .header .nav a:hover {
  background-color: white;
  color: #7b0058;
  box-shadow: 0px 3px 5px 2px #ff00b7;
}
.wp .header .banner {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 90%;
  /* border: 1px solid white; */
}
.wp .header .banner .left {
  grid-area: left;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid white; */
}
.wp .header .banner .left p.hello {
  color: #ff7dda;
  font-size: 34px;
  font-weight: bolder;
}
.wp .header .banner .left p.name {
  color: white;
  font-size: 45px;
  font-weight: bold;
}
.wp .header .banner .left p.status {
  color: rgb(219, 219, 219);
  font-size: 20px;
}
.wp .header .banner .left .btn {
  margin-top: 20px;
}
.wp .header .banner .left .btn button {
  border: none;
  background-color: yellow;
  border-radius: 8px;
  padding: 5px 25px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.wp .header .banner .left .btn button:hover {
  box-shadow: 0px 0px 5px 2px #ff00b7;
}
.wp .header .banner .right {
  grid-area: right;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  /* border: 1px solid white; */
}
.wp .header .banner .right img.bgme2 {
  position: absolute;
  height: 80%;
  width: 85%;
}
/* .wp .header .banner .right img.bgme1 {
  position: absolute;
  height: 70%;
  width: 75%;
}
.wp .header .banner .right img.me {
  position: absolute;
  height: 70%;
  width: 70%;
  margin-right: 30px;
  margin-right: 30px;
} */

/* -------------------------- ABOUT ----------------------------- */

.wp .wp-about {
  box-sizing: border-box;
  background-color: #20002d;
  padding: 50px 10%;
}

.wp .wp-about h3 {
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.wp .wp-about .about {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.wp .wp-about .about .left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wp .wp-about .about .left .box {
  display: flex;
  gap: 30px;
  border-radius: 10px;
  padding: 10px;
  border-top: 1px solid white;
}
.wp .wp-about .about .left .box:hover {
  box-shadow: 0px 3px 5px 2px #ff00b7;
  background-color: #280038;
}
.wp .wp-about .about .left .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid white;
}
.wp .wp-about .about .left .box p.title {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}
.wp .wp-about .about .left .box p.desc {
  font-size: 20px;
  color: #d0d0d0;
  margin-bottom: 5px;
}
.wp .wp-about .about .left .box p.date {
  font-size: 16px;
  color: yellow;
}

.wp .wp-about .about .right {
  display: flex;
  justify-content: end;
  align-items: center;
  /* border: 1px solid white; */
}
.wp .wp-about .about .right .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  border: 4px solid white;
  border-radius: 10px;
  background-color: #280038;
  padding: 5px;
}
.wp .wp-about .about .right .card:hover {
  box-shadow: 0px 3px 5px 4px #ff00b7;
}
.wp .wp-about .about .right .card img {
  width: 100%;
  height: 50%;
  /* border-radius: 10px; */
  border-bottom: 3px solid white;
}
.wp .wp-about .about .right .card .content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  height: 50%;
}
.wp .wp-about .about .right .card .content p.title {
  font-size: 24px;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid white;
  padding: 5px;
  text-align: center;
}
.wp .wp-about .about .right .card .content p.desc {
  font-size: 20px;
  color: #d0d0d0;
  text-align: center;
}
.wp .wp-about .about .right .card .content .btn button {
  background-color: #ff00b7;
  padding: 3px 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

/* -------------------------- SKILL ----------------------------- */

.wp .skill {
  /* background-color: #2c003e; */
  background: linear-gradient(to bottom, #2c003e, #670028);
  color: white;
  padding: 100px 10%;
}
.wp .skill .softskill h3.title,
.wp .skill .hardskill h3.title {
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.wp .skill .softskill {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}
.wp .skill .softskill .left {
  grid-area: left;
  display: flex;
  justify-content: start;
  align-items: center;
  /* border: 1px solid white; */
}
.wp .skill .softskill .left img {
  width: 350px;
  height: 350px;
}
.wp .skill .softskill .right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.wp .skill .softskill .right ul li {
  font-size: 24px;
  color: #d0d0d0;
  margin-bottom: 15px;
}
.wp .skill .hardskill {
  display: flex;
  margin-top: 50px;
}
.wp .skill .hardskill .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.wp .skill .hardskill .left .language {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.wp .skill .hardskill .left .language .box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.wp .skill .hardskill .left .language .box:hover {
  box-shadow: 0px 3px 5px 2px #ff00b7;
  background-color: #7d0030;
}
.wp .skill .hardskill .left .language .box img {
  width: 55px;
  height: 55px;
  background-color: white;
  padding: 5px;
  border: 2px solid #ff00b7;
  border-radius: 20px;
}
.wp .skill .hardskill .left .language .box .content p.title {
  font-size: 24px;
  color: white;
  font-weight: bold;
}
.wp .skill .hardskill .left .language .box .content p.desc {
  font-size: 18px;
  color: #d0d0d0;
}

.wp .skill .hardskill .right {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  /* border: 1px solid white; */
}
.wp .skill .hardskill .right img {
  width: 350px;
  height: 350px;
}

/* -------------------------- Footer ----------------------------- */

.wp .footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 50px 10% 10px 10%;
  background-color: #100016;
}
.wp .footer p.title {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
.wp .footer .services p.service {
  font-size: 18px;
  color: #d0d0d0;
  margin-bottom: 10px;
}

.wp .footer .contacts a.contact {
  display: flex;
  gap: 10px;
  text-decoration: none;
}
.wp .footer .contacts a.contact img {
  width: 20px;
  height: 20px;
}
.wp .footer .contacts a.contact p {
  font-size: 18px;
  color: #d0d0d0;
  margin-bottom: 10px;
}
.wp .footer .links .list {
  display: flex;
  gap: 10px;
}
.wp .footer .links .list a {
  text-decoration: none;
}
.wp .footer .links .list a img {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
}
.wp .footer .links .list a img:hover {
  box-shadow: 0px 3px 5px 3px #ff00b7;
}
.wp .copyright {
  background-color: #100016;
  padding: 10px 10%;
}
.wp .copyright p {
  border-top: 2px solid white;
  text-align: center;
  font-size: 18px;
  color: #d0d0d0;
  padding: 10px;
}

/* ------------------------- RESPONSIVE ----------------------- */
@media (max-width: 1024px) {
  .wp .header .nav .logo p {
    font-size: 30px;
  }
  .wp .header .nav a {
    font-size: 16px;
  }
  .wp .header .banner .left p.hello {
    font-size: 30px;
  }
  .wp .header .banner .left p.name {
    font-size: 35px;
  }
  .wp .header .banner .left p.status {
    font-size: 16px;
  }
  .wp .header .banner .left .btn button {
    font-size: 20px;
  }
  .wp .wp-about h3 {
    font-size: 30px;
  }

  /* -------------------------- */

  .wp .wp-about h3 {
    font-size: 30px;
  }
  .wp .wp-about .about .left {
    gap: 20px;
  }
  .wp .wp-about .about .left .box img {
    width: 60px;
    height: 60px;
  }
  .wp .wp-about .about .left .box p.title {
    font-size: 18px;
  }
  .wp .wp-about .about .left .box p.desc {
    font-size: 16px;
  }
  .wp .wp-about .about .left .box p.date {
    font-size: 14px;
  }

  .wp .wp-about .about .right .card {
    width: 80%;
  }
  .wp .wp-about .about .right .card .content p.title {
    font-size: 20px;
  }
  .wp .wp-about .about .right .card .content p.desc {
    font-size: 18px;
  }
  .wp .wp-about .about .right .card .content .btn button {
    font-size: 18px;
  }

  /* ----------------------- */

  .wp .skill .softskill h3.title,
  .wp .skill .hardskill h3.title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .wp .skill .softskill .left img {
    width: 250px;
    height: 250px;
  }
  .wp .skill .softskill .right ul li {
    font-size: 18px;
  }
  .wp .skill .hardskill {
    margin-top: 20px;
  }
  .wp .skill .hardskill .left .language .box img {
    width: 35px;
    height: 35px;
  }
  .wp .skill .hardskill .left .language .box .content p.title {
    font-size: 20px;
  }
  .wp .skill .hardskill .left .language .box .content p.desc {
    font-size: 16px;
  }

  .wp .skill .hardskill .right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    /* border: 1px solid white; */
  }
  .wp .skill .hardskill .right img {
    width: 250px;
    height: 250px;
  }

  /* ---------------------- */

  .wp .footer p.title {
    font-size: 18px;
  }
  .wp .footer .services p.service {
    font-size: 16px;
  }
  .wp .footer .contacts a.contact img {
    width: 16px;
    height: 16px;
  }
  .wp .footer .contacts a.contact p {
    font-size: 16px;
  }
  .wp .footer .links .list a img {
    width: 40px;
    height: 40px;
  }
  .wp .copyright p {
    font-size: 16px;
  }
}
@media (max-width: 912px) {
  .wp .header {
    height: 50vh;
  }
  .wp .wp-about .about {
    display: grid;
    grid-template-areas:
      "left"
      "right";
  }
  .wp .wp-about .about .right {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .wp .skill .softskill {
    grid-template-areas: "right right";
    margin-bottom: 50px;
  }
  .wp .skill .softskill .left {
    display: none;
  }
  .wp .skill .softskill .right {
    align-items: center;
  }
  .wp .skill .hardskill {
    justify-content: center;
  }

  .wp .skill .hardskill .left .language {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }

  .wp .skill .hardskill .right {
    display: none;
  }
}
@media (max-width: 480px) {
  .wp .header .nav .logo p {
    display: none;
  }
  .wp .header .nav {
    justify-content: center;
  }
  .wp .header .nav a {
    font-size: 12px;
  }
  .wp .header .banner .left p.hello {
    font-size: 24px;
  }
  .wp .header .banner .left p.name {
    font-size: 30px;
  }
  .wp .header .banner .left p.status {
    font-size: 14px;
  }
  .wp .header .banner .left .btn button {
    font-size: 16px;
  }

  /* -------------------------- */

  .wp .wp-about h3 {
    font-size: 24px;
  }
  .wp .wp-about .about .left {
    gap: 20px;
  }
  .wp .wp-about .about .left .box img {
    width: 40px;
    height: 40px;
  }
  .wp .wp-about .about .left .box p.title {
    font-size: 16px;
  }
  .wp .wp-about .about .left .box p.desc {
    font-size: 14px;
  }
  .wp .wp-about .about .left .box p.date {
    font-size: 12px;
  }

  .wp .wp-about .about .right .card {
    width: 100%;
  }
  .wp .wp-about .about .right .card .content p.title {
    font-size: 16px;
  }
  .wp .wp-about .about .right .card .content p.desc {
    font-size: 14px;
  }
  .wp .wp-about .about .right .card .content .btn button {
    font-size: 14px;
  }

  /* ----------------------- */

  .wp .skill .softskill h3.title,
  .wp .skill .hardskill h3.title {
    font-size: 26px;
  }
  .wp .skill .softskill .left img {
    width: 250px;
    height: 250px;
  }
  .wp .skill .softskill .right ul li {
    font-size: 18px;
  }
  .wp .skill .hardskill {
    margin-top: 20px;
  }
  .wp .skill .hardskill .left .language {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    /* width: 100%; */
  }
  .wp .skill .hardskill .left .language .box img {
    width: 35px;
    height: 35px;
  }
  .wp .skill .hardskill .left .language .box .content p.title {
    font-size: 14px;
  }
  .wp .skill .hardskill .left .language .box .content p.desc {
    font-size: 12px;
  }

  /* ---------------------- */

  .wp .footer p.title {
    font-size: 14px;
  }
  .wp .footer .services p.service {
    font-size: 12px;
  }
  .wp .footer .contacts a.contact img {
    width: 12px;
    height: 12px;
  }
  .wp .footer .contacts a.contact p {
    font-size: 12px;
  }
  .wp .footer .links .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .wp .footer .links .list a img {
    width: 20px;
    height: 20px;
  }
  .wp .copyright p {
    font-size: 12px;
  }
}
